@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}
<div id="container">
    <!-- main container starts-->
    <div id="wrapp">
        <!-- main wrapp starts-->

        <div id="content">
            <div id="breadcrumb">
                <!-- breadcrumb starts-->
                <div class="container">
                    <div class="one-half">
                        <h4>资源共享</h4>
                    </div>
                    <div class="one-half">
                        <nav id="breadcrumbs">
                            <!--breadcrumb nav starts-->
                            <ul>
                                <li>你的位置:</li>
                                <li><a href="index.htm">首页</a></li>
                                <li>资源共享</li>
                            </ul>
                        </nav>
                        <!--breadcrumb nav ends -->
                    </div>
                </div>
            </div>
            <!--breadcrumbs ends -->
            <div class="container">
                <ul id="filterable">
                    <li><a data-categories="one">下载首页</a></li>
                    <li><a data-categories="my_upload">我的上传</a></li>
                    <li><a data-categories="upload_file">上传</a></li>
                </ul>
                <form>
                    <ul id="portfolio-container" class="four-columns">

                        <li class="isotope-item" data-categories="one">
                            <div class="item-wrapp">
                                <div class="portfolio-item">
                                    <a href="#" class="item-permacenter"><i class="fa fa-download"></i></a>
                                    <img src="~/image/resources_tool.png" alt="" />
                                </div>
                                <div class="portfolio-item-title">
                                    <a href="#">python爬取中国天气网</a>
                                    <p> 爬虫 / Python / pdf</p>
                                    <img src="~/image/bacgroud1.jpg" alt="" style="width: 20px;height:20px">
                                    <span>tushan</span>
                                    <span>21.3KB</span>
                                    <span><i class="fa fa-download"></i>555</span>

                                </div>
                            </div>
                        </li>
                        <li class="isotope-item" data-categories="one">
                            <div class="item-wrapp">
                                <div class="portfolio-item">
                                    <a href="#" class="item-permacenter"><i class="fa fa-download"></i></a>
                                    <img src="~/image/resources_code.png" alt="" />
                                </div>
                                <div class="portfolio-item-title">
                                    <a href="#">web响应式设计设计</a>
                                    <p>
                                        前端 / JavaScript
                                    </p>
                                    <img src="~/image/bacgroud1.jpg" alt="" style="width: 20px;height:20px">
                                    <span>tushan</span>
                                    <span>21.3KB</span>
                                    <span><i class="fa fa-download"></i>555</span>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item" data-categories="one">
                            <div class="item-wrapp">
                                <div class="portfolio-item">
                                    <a href="#" class="item-permacenter"><i class="fa fa-download"></i></a>
                                    <img src="~/image/resources_doc.png" alt="" />
                                </div>
                                <div class="portfolio-item-title">
                                    <a href="#">UI设计</a>
                                    <p>
                                        UI / 设计
                                    </p>
                                    <img src="~/image/bacgroud1.jpg" alt="" style="width: 20px;height:20px">
                                    <span>tushan</span>
                                    <span>21.3KB</span>
                                    <span><i class="fa fa-download"></i>555</span>
                                </div>
                            </div>
                        </li>
                        <li class="isotope-item" data-categories="one my_upload">
                            <div class="item-wrapp">
                                <div class="portfolio-item">
                                    <a href="#" class="item-permalink"><i class="fa fa-download"></i></a>
                                    <a href="#" class="item-preview"><i class="fa fa-trash"></i></a>
                                    <img src="~/image/resources_media.png" alt="" />
                                </div>
                                <div class="portfolio-item-title">
                                    <a href="#">产品经理</a>
                                    <p>
                                        产品 / 设计
                                    </p>
                                    <img src="~/image/bacgroud1.jpg" alt="" style="width: 20px;height:20px">
                                    <span>tushan</span>
                                    <span>21.3KB</span>
                                    <span><i class="fa fa-download"></i>555</span>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item" data-categories="one">
                            <div class="item-wrapp">
                                <div class="portfolio-item my_upload">
                                    <a href="#" class="item-permalink"><i class="fa fa-download"></i></a>
                                    <a href="#" class="item-preview"><i class="fa fa-trash"></i></a>
                                    <img src="~/image/resources_other.png" alt="" />
                                </div>
                                <div class="portfolio-item-title">
                                    <a href="#">技术栈</a>
                                    <p>
                                        技术栈 / 后端
                                    </p>
                                    <img src="~/image/bacgroud1.jpg" alt="" style="width: 20px;height:20px">
                                    <span>tushan</span>
                                    <span>21.3KB</span>
                                    <span><i class="fa fa-download"></i>555</span>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item" data-categories="upload_file ">
                            <div class="upload">
                                <div class="upload-files">
                                    <header>
                                        <p>
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <span class="up">up</span>
                                            <span class="load">load</span>
                                        </p>
                                    </header>
                                    <div class="body" id="drop">
                                        <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
                                        <p class="pointer-none">
                                            <b>拖放到这里</b> files here <br /> or <a href="" id="triggerFile">浏览</a>开始上传
                                        </p>
                                        <input type="file" multiple="multiple" />
                                    </div>
                                    <footer>
                                        <div class="divider">
                                            <span>
                                                <AR>FILES</AR>
                                            </span>
                                        </div>
                                        <div class="list-files">
                                            <!--   template   -->
                                        </div>
                                        <button class="importar">UPDATE FILES</button>
                                    </footer>
                                </div>
                            </div>
                        </li>
                        <li class="isotope-item" data-categories="upload_file">


                            <div class="form-group">
                                <label for="exampleFormControlInput1">资源名称</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                       placeholder="如：计算机科学与技术">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">资源类型</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>工具</option>
                                    <option>文档</option>
                                    <option>代码</option>
                                    <option>影音</option>
                                    <option>其他</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">资源描述</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                            </div>
                            <button class="btn btn-info" type="submit">提交</button>

                        </li>

                    </ul>
                </form>
            </div>
        </div>
    </div>
    <!-- main wrapp starts-->
</div>
<!-- main container ends-->
